<!DOCTYPE html>
<html lang="en">
<head>
<title>zlab websocket chat</title>
<script type="text/javascript">
window.onload = function () {
    var conn;
    var msg = document.getElementById("msg");
    var log = document.getElementById("log");

    let deviceUUID = "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
    let msgTypeAuth = 0x03
    let msgTypeText = 0x20

    function getUserIdFrom() {
        return Number(document.getElementById("uidFrom").value);
    }

    function getUserIdTo() {
        return Number(document.getElementById("uidTo").value);
    }

    function getUUID() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    function appendLog(item) {
        var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
        log.appendChild(item);
        if (doScroll) {
            log.scrollTop = log.scrollHeight - log.clientHeight;
        }
    }

    // text to bytes with message type
    function messagePackage(msgType, text) {
        // string 转 bytes
        let arr = new TextEncoder().encode(text);
        let bs = new Uint8Array(arr.byteLength + 2)
        // head
        bs[0] = msgType
        bs[1] = 0x00
        for (var i = 0; i < arr.byteLength; i++) {
            bs[i + 2] = arr[i];
        }
        return bs
    }

    // auth
    document.getElementById("auth").onclick = function () {
        if (!conn) {
            return false;
        }
        let data = {
            "id": getUUID(),
            "from": getUserIdFrom(),
            "token": "dev-token",
            "uuid": deviceUUID,
            "version": "v1.0",
            "os": "ios",
            "time": new Date().getTime()
        }
        let bs = messagePackage(msgTypeAuth, JSON.stringify(data))
        conn.send(bs);
    }

    document.getElementById("form").onsubmit = function () {
        if (!conn) {
            return false;
        }
        if (!msg.value) {
            return false;
        }

        let data = {
            "id": getUUID(),
            "from": getUserIdFrom(),
            "to": getUserIdTo(),
            "text": msg.value,
            "time": new Date().getTime(),
        }
        let bs = messagePackage(msgTypeText, JSON.stringify(data))
        conn.send(bs);
        msg.value = "";
        return false;
    };

    if (window["WebSocket"]) {
        conn = new WebSocket("ws://" + document.location.host + "/ws");
        conn.binaryType = "arraybuffer"
        conn.onclose = function (evt) {
            var item = document.createElement("div");
            item.innerHTML = "<b>Connection closed.</b>";
            appendLog(item);
        };
        conn.onmessage = function (event) {
            var text = ""
            if (typeof event.data === "string") {
                text = event.data
            }
            if (event.data instanceof ArrayBuffer) {
                var bs = new Uint8Array(event.data)
                var data = bs.subarray(2, bs.byteLength)
                text = new TextDecoder().decode(data);
            }
            var messages = text.split('\n');
            for (var i = 0; i < messages.length; i++) {
                var item = document.createElement("div");
                item.innerText = messages[i];
                appendLog(item);
            }
        };
    } else {
        var item = document.createElement("div");
        item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
        appendLog(item);
    }
};
</script>
<style type="text/css">
html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}

#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 3.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 5em;
    overflow: auto;
}

#form {
    padding: 0 0.5em 1em 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

#container {
    padding: 1em 0.5em 0.5em 0.5em;
}

</style>
</head>
<body>
<div id="container">
    FROM: <input type="text" id="uidFrom" name="from" value="111111" />
    TO: <input type="text" id="uidTo" name="to" value="100000" />
</div>
<div id="log"></div>
<form id="form">
    <input type="text" id="msg" size="64" autofocus />
    <input type="submit" value="Send" />
    <input type="button" id="auth" value="Auth" />
</form>
</body>
</html>
