html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    font-family: "微软雅黑", sans-serif;
    font-size: 16px;
    color: cadetblue;
}

input {
    outline-style: none;
    border-radius: 3px;
    padding: 12px;
    border: 0;
}

.pri-btn {
    padding: 8px 15px;
    border: 1px solid #3EB4C0;
    background: #3EB4C0;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: #F0F1B9;
}

.pri-btn:active {
    border: 1px solid #68A4A6;
    background: #68A4A6;
}

#messageTitle {
    font-weight: bold;
    background: #f3f7f9;
    padding: 1em 0.5em 1em 0.5em;
    border-bottom: #dee2e6 1px solid;
}

#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 5.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 5em;
    overflow: auto;
}

#messageForm {
    text-align: right;
    background: #f3f7f9;
    padding: 1em 0.5em 1em 0.5em;
    border-top: #dee2e6 1px solid;
    overflow: hidden;
    margin: 0;
    position: absolute;
    bottom: 1em;
    right: 0px;
    width: 100%;
    overflow: hidden;
}

div .textReceive {
    color: #5B8081;
}

div .textSend {
    text-align: right;
    color: #C2BBA8;
}
